/* src/pages/Booking.css */
.booking-container {
  background-color: #212529;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-container form {
  background-color: #2c3136;
  border-radius: 8px;
  padding: 25px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.booking-container input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}

.booking-container button {
  padding: 10px;
  background-color: #72dfff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #212529;
  font-weight: bold;
}

.booking-container button:hover {
  background-color: #ffd966;
}
